obj
bin
*.suo
/TestResults
*.user
/CVARC.sln.DotSettings.user
/build


CVARC.V2/Binaries/*.pdb
CVARC.V2/Binaries/*.dll
CVARC.V2/Binaries/*.exe
CVARC.V2/Binaries/Solutions/A/*.pdb
CVARC.V2/Binaries/Solutions/A/*.dll
CVARC.V2/Binaries/Solutions/A/*.exe
CVARC.V2/Binaries/Solutions/B/*.pdb
CVARC.V2/Binaries/Solutions/B/*.dll
CVARC.V2/Binaries/Solutions/B/*.exe

