body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0 !important;
}

#mainTable td {
    vertical-align: top;
    text-align: center;
}

.close {
    cursor: pointer
}

.info {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-align: justify;
    font-size: 15px;
    border-radius: 10px;
    table-layout: fixed
}

#loginInfo {
    text-align: center
}

.info td {
    padding-left: 10px
}

#mainTable .info tbody td:first-child {
    text-align: left
}

.linkName{
    color: white;
}

.incorrectPassMessage {
    color: red;
}

#FPS
{
    position: absolute;
    top: 0;
    right: 0;
    color: green;
}

.filter {
    line-height: 3;
    min-width: 170px;
}

.filter input {
    width: 100px
}

.points {
}

.teamName {
}

.redTeam {
    color: deeppink;
}

.blueTeam {
    color: cornflowerblue;
}

.levelName {
    color: black;
}

.input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0
}

.ajax-file-upload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    font-weight:bold;
    padding:15px 20px;
    line-height:20px;
    display:inline-block;
    background:#fff;
    border:1px solid #e8e8e8;
    color:#888;
    text-decoration:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -moz-box-shadow:0 2px 0 0 #e8e8e8;
    -webkit-box-shadow:0 2px 0 0 #e8e8e8;
    box-shadow:0 2px 0 0 #e8e8e8;
    padding:6px 10px 4px 10px;
    color:#fff;
    background:rgba(0, 0, 0, 0.8);
    border:0;
    -moz-box-shadow:0 2px 0 0 #13648d;
    -webkit-box-shadow:0 2px 0 0 #13648d;
    box-shadow:0 2px 0 0 #13648d;
    vertical-align:middle
}
.ajax-file-upload:hover {
     background:#3377ff;
}
