<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Раскомментируте один из режимов в зависимости от потребностей.   -->

    <!--  Используйте для ручного управления роботом. -->
<!--    <add key="Mode" value="Tutorial" />-->

    <!-- Запустит локальный сервер на вашем компьютере, с которым будет происходить обмен данными.
         Позволит поотлаживать программу с искусственно подобранными настройками сервера.  -->
    <add key="Mode" value="LocalServer" />

    <!-- Используйте для финальной отладки с удаленным сервером. -->
<!--    <add key="Mode" value="RealServer" />-->
    <add key="Port" value="14000" />
    <add key="Ip" value="127.0.0.1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Server" />
    </assemblyBinding>
  </runtime>
</configuration>
