<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Выбор режима работы клиента. -->
    <!--  Используйте для ручного управления роботом. -->
    <!--    <add key="Mode" value="Tutorial" />-->
    <!-- Запустит локальный сервер на вашем компьютере, с которым будет происходить обмен данными. -->
    <add key="Mode" value="LocalServer" />
    <!-- Используйте для финальной отладки с удаленным сервером. -->
<!--          <add key="Mode" value="RealServer" />-->

    <!-- Сетевые настройки. -->
    <add key="Port" value="14000" />
    <add key="Ip" value="127.0.0.1" />

    <!-- Для отладки с ботами. None - если без ботов. -->
<!--    <add key="BotName" value="None" />-->
<!--        <add key="BotName" value="MolagBal" />-->
<!--        <add key="BotName" value="Namira" />-->
<!--        <add key="BotName" value="Perythe" />-->
<!--        <add key="BotName" value="Sanguine" />-->
    <!--    <add key="BotName" value="Simple" />-->
        <add key="BotName" value="Vaermina" />

    <!-- Используйте целое число для генерации различных карт. -1 для случайной карты. -->
    <add key="MapSeed" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Server" />
    </assemblyBinding>
  </runtime>
</configuration>
