@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Ошибка</title>
    </head>
    <body>
        <div>
            При загрузке файла произошла ошибка. Проверьте следующие условия:
            <ul>
                <li>Вы пытаетесь загрузить валидный .zip архив.</li>
                <li>Архив содержит run.bat файл.</li>
                <li>run.bat файл соответствует шаблону: (start "rtsClient" your_fileName.exe %*).</li>
                <li>Архив содержит your_fileName.exe файл.</li>
            </ul>
        </div>
    </body>
</html>