@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm("UploadFile", "Replay", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" accept=".zip, .rar"/>
                <input type="submit" value="OK" />
            }
        </div>
    </body>
</html>